<!DOCTYPE html>
<html>
<head>
    <title>Working Code</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <style>
        body {
            font-family: 'San Francisco', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #000000;
            color: #f7f7f7;
        }
        .bottom-right {
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 10px;  
            color: #f7f7f7;
            font-family: 'San Francisco', Arial, sans-serif;
        }
    </style>
</head>
<body>
    <script src="static/africa.js"></script>
    <div class="bottom-right">PARENT</div>
</body>
</html>
