<!DOCTYPE html>
<html>

<head>
    <title>Mandelshroom</title>

    <style>
        body {
            background-color: black;
            /* Replace #000000 with your desired background color */
        }

        h2 {
            font-family: Arial, sans-serif;
            color: white;
        }
        p {
            font-family: Arial, sans-serif;
            color: white;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>

<body>
    <h2>Mandelshroom</h2>
    <p>Location: Kansas, USA</p>
    <script src="static/US.js"></script>
</body>

</html>